---
title: Awesome Project B
description: Building robust infrastructure using Go and modern DevOps practices.
date: 2024-02-20
published: true
featured: true
tags:
  - golang
  - infrastructure
  - devops
  - cloud
imageUrl: /projects/test.jpeg
imageAlt: Network diagram illustrating the infrastructure of Awesome Project B
---

# Awesome Project B

Details about project B...


```ts
const greet = (name: string) => {
	console.log(`Hey ${name}! 👋`)
}
```