@import 'tailwindcss';

@import '@fontsource/jetbrains-mono';

@plugin '@tailwindcss/forms';
/*@plugin "@catppuccin/tailwindcss";*/ /*See https://github.com/catppuccin/tailwindcss/pull/22*/
@theme {
	--color-*: initial;
} /* reset all colors to initial */

@import '../static/css/catppuccin.css'; /*noqa: this line is supposed to be after the above @theme */
@import '../static/css/colors.css'; /*contains the static colors needed for the color selector*/



:root {
	--current-accent-color: var(--color-peach); /*accent default's to peach */
}

@theme static {
	--color-accent: var(--current-accent-color);

}

@theme {
	--animate-wiggle: wiggle 1s ease-in-out infinite;
	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-3deg);
		}
		50% {
			transform: rotate(3deg);
		}
	}
}




/*@keyframes slide-from-right {*/
/*	from {*/
/*		transform: translateX(30px);*/
/*	}*/
/*}*/

/*@keyframes slide-to-left {*/
/*	to {*/
/*		transform: translateX(-30px);*/
/*	}*/
/*}*/

/*:root::view-transition-old(root) {*/
/*	animation:*/
/*			90ms cubic-bezier(0.4, 0, 1, 1) both wiggle,*/
/*			300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;*/
/*}*/

/*:root::view-transition-new(root) {*/
/*	animation:*/
/*			210ms cubic-bezier(0, 0, 0.2, 1) 90ms both wiggle,*/
/*			300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;*/
/*}*/